html {
  scroll-behavior: smooth;
}

.yellow-background {
  background-color: #ECE2D2;
}

.blue-background {
  background-color: #e2f6ff;
}

.circuit-img {
  width: 70vh;
}

.my-navbar {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-footer {
  background-color: #82d5d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.5);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.my-navbar-link,
.my-navbar-link:hover {
  color: #1655AF;
  text-decoration: none;
}

.white-space {
  height: 0.5rem;
  background-color: white;
}

.card-img {
  position: absolute;
  left: 27%;
  top: -35%;
  width: 150px;
}

.mt-9 {
  margin-top: 9rem !important;
}

.invert {
  filter: invert(44%);
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .card-img {
    top: -40% !important;
  }
}
